doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Veridian Core - Home

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Responsive navbar
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            .container
                a.navbar-brand(href='#!') Veridian Core
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.mb-2.mb-lg-0
                        li.nav-item
                            a.nav-link.active(aria-current='page', href='#') Home
                        li.nav-item
                            a.nav-link(href='#!') About
                        li.nav-item
                            a.nav-link(href='#!') Contact
                        li.nav-item

        // Page header with logo and tagline
        header.py-5.bg-light.border-bottom.mb-4
            .container
                .text-center.my-5
                    h1.fw-bolder Welcome to Veridian
                    p.lead.mb-0 Your personal cyberspace, and the digital subway to your mind

        // Page content
        .container
            .row

                // Blog entries
                .col-lg-8

                    // Featured blog post
                    .card.mb-4
                        a(href='#!')
                            img.card-img-top(src='assets/1743343219573.jpg', alt='Veridian Scene')
                        .card-body
                            .small.text-muted March 25, 2025
                            h2.card-title MIPS Engine
                            p.card-text
                                | For any engine that accepts user or networked code, its crucial that code has no more access to the user machine than necessary.
                                | I figured some ways to do this, but wanted an interesting mechanism that played into the nature of Veridian.
                                | One such way was to create a virtual processor that took calculations and special commands, and supplied them to the backend.

                // Side widgets
                .col-lg-4
                    // Side widget
                    .card.mb-4
                        .card-header Side Widget
                        .card-body
                            | The construction of this site is ongoing, I hope to use this as a place to document changes and link new builds as they're completed.

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Will Major - 2023

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
